body {
  color: white;
  background: black;
  text-align: center;
}
table {
  margin: 20px auto;
  padding: 20px;
}
td {
  padding: 8px;
  font-size: 1.5rem;
}
h1 {
  margin: 20px 10px;
  padding: 20px;
}
